  {{#if isEditing}}
    {{input type="text" value=model.title focus-out="updateTitle" insert-newline="updateTitle"}}
  {{else}}

      {{model.title}}
      <br/>
  {{/if}}

<div class="row">
  <div class="col-md-6">
    <a href="#" {{action "editTitle"}}>Edit</a>
    <a href="#" {{action "deleteList"}}>Delete</a>
  </div>
</div>
<br>




  {{outlet "todos"}}
